@{
    ViewData["CurrentPage"] = "Index";
}

@* <h1>
    @ViewData["CurrentPage"]
</h1> *@

<!-- Title -->
<div class="d-flex flex-column text-center my-5">
     <h1 class="display-2 fw-bolder">
        @ViewData["CurrentPage"]
    </h1>
    <p class="fs-4 text-muted lh-1">
        <!-- Some Paragraph Here if We Need To. -->
    </p>
</div>



<div class="d-flex flex-column text-center my-1">
   
    <div class="d-flex flex-column">
        <video id="videoMyWebCam" autoplay>
        </video>
    </div>

    <div class"d-flex flex-column">
        <button type="button" id="btnPlayVideo" class="btn btn-primary">
            Start The Action
        </button>
        <button type="button" id="btnStopVideo" class="disabled btn btn-secondary">
            Stop
        </button>
        <button type="button" id="btnCaptureImageFromVideo" class="disabled btn btn-info">
            Capture Image
        </button>       

    </div>

    <div class"d-flex flex-column">
        <div class="display-6">
            Video Elapsed Time: <span id="txtVideoTimeDisplay">0</span> seconds.
        </div>
        
    </div>

    <!-- Canvas is hidden, used to hold the captured Image -->
    <div class"d-flex flex-column">
        <canvas id="myCanvas" class="visually-hidden"></canvas>
        <img id="imgCapturedFromVideo" alt="Captured Image From Video Element"/>

    </div>


    </p>
</div>






@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            logToConsole("Index DOMContentLoaded!");

            // myInitializeSignalRConnection();
            logToConsole(JSON.stringify(myConnection));

            myInitializeIndexPageStuff();
        });
    </script>
}